/*RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*INIZIO HEADER*/
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding-top: 2rem;
}

section {
    margin-top: 2rem;
    align-items: center;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 80%;
}

ul {
    list-style-type: none;
    height: 100%;
    display: flex;

}

ul>li {
    display: inline-block;
    margin-left: 2rem;
}

header nav {
    display: flex;
    width: 60%;
    justify-content: space-around;
    color: white;
}

.nav-div {
    display: flex;
    width: 20%;
}


.container-intro {
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;

}

.intro {
    width: 60%;
    height: 20rem;
}

div.intro>h1 {
    font-size: 4rem;
    font-weight: bold;
}

div.intro>p {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

/*INIZIO MAIN*/

.cards {
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding-top: 8rem;
}

.cards-reverse {
    display: flex;
    margin: 0 auto;
    width: 80%;
    flex-direction: row-reverse;
    padding-top: 8rem;
}

div.smallcard>h1 {
    font-size: 3.5rem;
    padding-top: 2rem;
    line-height: 3.5rem;
}

div.smallcard>p {
    font-size: 1.5rem;
    padding-top: 1.5rem;
}


.bigcard {
    width: 60%;
}

.smallcard {
    width: 40%;
    padding-right: 3rem;
    padding-left: 3rem;
}

.big-box {
    margin-bottom: 6rem;
}

.bigbox-content {
    width: 80%;
    margin: 0 auto;
    padding-top: 10rem;
    text-align: center;
}

div.bigbox-content>h1,
div.bigbox-content>p {
    text-align: center;
    font-weight: bold;
}

div.bigbox-content>h1 {
    font-size: 3.5rem;
}

div.bigbox-content>p {
    font-size: 1.5rem;
    padding: 2rem;
}

div.bigbox-content>img {
    width: 100%;
}

div.bigbox-content>h2 {
    font-size: 2.5rem;
    background-image: url(../img/stars.svg);
    background-size: contain;
    padding-bottom: 3rem;
}



/*INIZIO FOOTER*/

footer {
    background-color: #23272a;
    margin: 0 auto;
    color: white;
}

.blue {
    color: #7188d9;
}

.footer-link, .footer-bottom {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.card-c1 {
    width: 40%;
}

.card-c4 {
    width: 60%;
    display: flex;
}

.footer-link {
    justify-content: center;
    align-items: center;
}

.footer-bottom {
    justify-content: space-between;
}

hr {
    border: 1px solid lightblue;
}

.logo {
    width: 1.2rem;
    height: auto;
}

/*BUTTONS SETTINGS*/


button {
    border: none;
    border-radius: 10% 10%;
}

.white-button {
    background-color: white;
    color: black;
    font-size: 1rem;
    padding: 0.5rem;
   
}

.black-button {
    background-color:black;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
}

.lilac-button {
    background-color: #8ea1e1;
    color: white;
    font-size: 1.5rem;
    padding: 1.2rem;

}
