/*RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: aqua;
}

.container-nav {
    display: flex;
    align-items: center;
    background-color: orange;
    margin-top: 2rem;
    margin: 0 auto;
    width: 80%;
}

ul {
    list-style-type: none;
    display: flex;
}


header nav {
    display: flex;
    width: 50%;
    justify-content: center;
}

.nav-div {
    width: 25%;
}


.container-intro {
    background-color: blueviolet;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    width: 60%;
    height: 20rem;
    background-color: brown;
}
