/*RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: aqua;
    margin-top: 2rem;
}

section {
    margin-top: 2rem;
    align-items: center;
}

.container-nav {
    display: flex;
    align-items: center;
    background-color: orange;
    margin: 0 auto;
    width: 80%;
}

ul {
    list-style-type: none;
    display: flex;
}


header nav {
    display: flex;
    width: 50%;
    justify-content: center;
}

.nav-div {
    width: 25%;
}


.container-intro {
    background-color: blueviolet;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    width: 60%;
    height: 20rem;
    background-color: brown;
}

.cards {
    display: flex;
    margin: 0 auto;
    height: 30rem;
    background-color: aqua;
    margin-top: 2rem;
    width: 80%;
}

.cards-reverse {
    display: flex;
    margin: 0 auto;
    height: 30rem;
    background-color: aqua;
    margin-top: 2rem;
    width: 80%;
    flex-direction: row-reverse;
}

.bigcard {
    background-color: blue;
    height: 20rem;
    width: 60%;
}

.smallcard {
    background-color: palevioletred;
    height: 20rem;
    width: 40%;
}